.flex{
    display: flex;
}

header {
    justify-content: space-between;
    background-color: white;
    width: 960px;
}

body {
    background-image: url(../images/background.png);
    margin: 0 auto;
    height: 100vh;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #666666;
    border-top: 0.5em solid #4aaaa5;
    padding: 2em 0em 0em 0em;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
}

#name {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 0.75em;
    margin: 0em;
}

.vb {
    width: 2px;
    border-color: gray;
}

#about {
    flex-direction: column;
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.rightb {
    border-right: .1em solid gray;
}

.navl {
    padding: 0.75em;
    align-self: center;
    text-decoration: none;
    text-align: center;
    color: gray;
}

p {
    line-height: 1.6;
}

.aeT {
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    border-bottom: 0.2em solid gray;
}

h1 {
    color: #4aaaa5;
    background-color: #ffffff;
    padding: 0.5em;
}

#middle {
    margin: 1em 0em 0em 0em;
}

#dhmtrl {
    width: 960px;
    height: auto;
}

.sporego {
    width: 6em;
    height: auto;
}
