.flex{
    display: flex;
}

header {
    justify-content: space-between;

}

body {
    margin: 0 auto;
    max-width: 960px;
}

footer {
    text-align: center;
}

#name {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 0.75em;
}

.vb {
    width: 2px;
    border-color: gray;
}

#about {
    flex-direction: column;
}

.rightb {
    border-right: .1em solid gray;
}

.navl {
    padding: 0.75em;
    align-self: center;
    text-decoration: none;
    text-align: center;
    color: gray;
}

p {
}